

 .top{
   margin-left: 75%;
  }
 .top a{
     margin-left: 20px;
     color: black;
 }
 a :hover{
    text-decoration-style: none;
     }
     .one{
         background-image: url("bcg.jfif");
         background-size: contain;
         /* background-repeat: no-repeat; */
        
     }
